body {
    font-family: 'Spicy Rice', cursive;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/1381538.jpg)
}

h1, h2, h3 {
    font-family: 'Spicy Rice', cursive
}

h5 {
    color: whitesmoke;
}

.jumbotron {
    margin: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/headpos.jpeg);
    color: white;
}

.navbar-custom {
    background-color: brown
}
.navbar-custom li a {
    color: white;
    font-size: 20px;
}
a, a:hover, a:focus {
    text-decoration: none;
}

.card {
    background-color: #ffebcc; 
    border: white 2px solid;
}

.figure-img {
    border: 2px white solid
}
.figure-caption {
    font-size: 20px;
    color: whitesmoke
}

.tooltip .tooltip-inner {
    background-color: brown;
  }